[Desktop Entry]
Name=Balance
Comment=Balance machine GUI application
Exec=/home/bm/Balance_GUI/start.sh
Icon=/usr/share/pixmaps/balance.png
Terminal=false
Type=Application
