[Desktop Entry]
Name=Balance
Comment=Balance machine GUI application
Exec=balance_start
Icon=/usr/share/pixmaps/balance.png
Terminal=false
Type=Application
